 <h1>Sell Page</h1>
<div class="container-fluid">
    <form [formGroup]="myForm" >
        Value: {{ myForm.value | json }}
        <hr>
        <div class="row">
            <div class="col-md-2">
                <input matInput placeholder="Customer Name" formControlName="customerName">
            </div>
            <div class="col-md-2">
                <input matInput placeholder="Customer Mobile No." formControlName="customerPhone">
            </div>
            <div class="col-md-2">
                <input matInput placeholder="Customer Address" formControlName="customerAddress">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <select class="custom-select" placeholder="Select a Payment Type" formControlName="paymentType">
                    <option value="0" selected>Full payment</option>
                    <option value="1">Installment</option>
                </select>

            </div>
            <div class="col-md-2">
                <input matInput placeholder="Folio" formControlName="folio">
            </div>
            <div class="col-md-2">
                <input matInput placeholder="Debit" formControlName="debit">
            </div>
            <div class="col-md-2">
                <input matInput placeholder="Credit" formControlName="credit">
            </div>
            <div class="col-md-2">
                <input matInput placeholder="Grand Total" formControlName="grandTotal">
            </div>
        </div>
        <div class="row" formArrayName="products" *ngFor="let product of this.myForm.get('products').controls; let i=index">
            <div class="row" [formGroupName]="i">
                <div class="col-md-2">
                    <select class="custom-select" id="{{'category'+i}}" formControlName="category" (change)="selectCategory($event, i)">
                        <option value="0" selected>Select a category</option>
                        <option *ngFor="let c of categoryList" [ngValue]="c.categoryName">{{c.categoryName}}
                        </option>
                    </select>
                </div>
                <div class="col-md-2"> 
                    <select class="custom-select" id="{{'productName'+i}}" formControlName="productName" (change)="selectProduct($event, i)">
                        <option value="0" selected>Select a Product</option> 
                    </select>
                </div>
                <div class="col-md-2">
                    <input matInput placeholder="Quantity" formControlName="quantity" (change)="selectQuantity($event, i)">
                </div>
                <div class="col-md-2">
                    <input matInput placeholder="Price Per Unit" formControlName="pricePerUnit" (change)="selectPrice($event, i)">
                </div>
                <div class="col-md-2">
                    <input matInput placeholder="Total" (ngModelChange)="TotalChanged()" formControlName="total">
                </div>
            </div>
        </div>
        <button mat-raised-button color="primary" (click)="addProduct()">Add Product</button>
        <button class="btn btn-primary" type="submit" (click)="onSubmit()">Print & Save Items</button>
    </form>
</div>